<h1 class="text-center">Welcome to the BookSwapper</h1>
<h2 class="text-center">where all your book swapping dreams become a reality</h2>
<br><br><br>

<ul class="example-orbit" data-orbit data-options="timer:true;
timer_speed:2000;
pause_on_hover:false; style=height: 382px;">
  <li>
    <%= image_tag("openbook.jpg", alt: "slide 1")%>
    <div class="orbit-caption">
      1. Search for a book
    </div>
  </li>
  <li>
    <%= image_tag("near.jpg", alt: "slide 2") %>
    <div class="orbit-caption">
      2. Find out who owns the book and lives near you
    </div>
  </li>
  <li>
    <%= image_tag("coffee.jpeg", alt: "slide 3") %>
    <div class="orbit-caption">
      3. Meet up, borrow books, make friends
    </div>
  </li>
</ul>

 <!-- First Band (Image) -->

  <!-- <div class="text-center">
    <div class="row">
      <div class="large-12 columns">
        <%#= image_tag("books.jpeg", width: "500")%>
          <hr>
        </div>
      </div>
    </div> -->
  <!-- Second Band (Image Left with Text) -->

  <div class="row">
    <div class="large-4 columns">
      <%= image_tag("disgusted_girl.jpg") %>
    </div>
    <div class="large-8 columns">
      <h4>Testimonials</h4>
      <div class="row">
        <div class="large-6 columns">
          <p><blockquote><strong>"I got hit on by a creepy older man when we exchanged books last week. I'm not really sure how I feel about this app."</strong><cite>Lindsey Scott</cite></blockquote></p>
        </div>
        <div class="large-6 columns">
          <p><blockquote><strong>"I met up with someone who lives a few blocks away from me, and was able to get the book I've been wanting to read for a long time. That was cool! Until... I realized that sometimes when I look out the window, I see her hiding in a tree, peering at me through binoculars..."</strong><cite>Matthew Pindley</cite></blockquote></p>
        </div>
      </div>
    </div>
  </div>


  <!-- Third Band (Image Right with Text) -->

  <div class="row">
    <div class="large-8 columns">
      <h4>How it works</h4>

      <p>As a book-lender: post a book that you want to lend out.</p>

      <p>As a borrower: search for books that you want. Find books from people who live near you.</p>

      <p>Request the book. Meet up, make friends, and improve your literacy... or in the very least, your personality.</p>

    </div>
    <div class="large-4 columns">
      <%= image_tag("scared_guy.jpeg") %>
    </div>
  </div>
