<div class="text-center small-centered large-4 columns">
  <h3>Enter Home Address</h3><br><br>

  <%= simple_form_for @location do |f| %>
    <%= f.input :address %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.button :submit, 'submit', class: 'button' %>
  <% end %>
</div>
