<nav class="top-bar">
  <!-- Title -->
  <ul class="title-area">
    <li class="name"><h1><%= link_to "BookSwapper", books_path %></h1></li>

    <!-- Mobile Menu Toggle -->
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <!-- Top Bar Section -->

<section class="top-bar-section">

    <!-- Top Bar Left Nav Elements -->
    <ul class="left">

      <!-- Search -->
      <li>
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <input type="text" placeholder="Find books">
          </div>
          <div class="large-4 small-3 columns">
            <a href="#" class="alert button expand">Search</a>
          </div>
        </div>
      </li>
      <li>
        <%= link_to "My BookShelf", books_path, class: 'button' %>
      </li>
      <li>
          <%= link_to "My Lender List", lend_books_path, class: 'button' %>
      </li>
      <li>
          <%= link_to "Post a Book", new_book_path, class: 'button' %>
      </li>
      <li>
          <%= link_to "All Books", books_path, class: 'button' %>
      </li>
    </ul>

    <!-- Top Bar Right Nav Elements -->
    <ul class="right">
      <!-- Divider -->
      <li class="divider"></li>

      <!-- Button -->
      <% if user_signed_in? %>
        <li class="show-for-large-up">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </li>
      <% else %>
      <li class="show-for-large-up">
        <%= link_to "Log in", new_user_session_path %>
      </li>
      <% end %>
    </ul>
  </section></nav>
